//compile
@import 'bourbon/bourbon';

/*******************************************
                VARIABLES
*******************************************/

//colors - site
$colorMain: #3cd27b;
$colorMainDark: #26a45b;
$colorBlack: #1a1d19;
$colorLightBlack: #333831;
$colorDarkBlack: #0a0b09;
$colorLightGray: #fafafa;
$colorOrange: #f39c12;

//colors - media
$colorFb: #3b5998;
$colorYouTube: #bb0000;
$colorGooglePlus: #dd4b39;
$colorTwitter: #00aced;
$colorGithub: #333333;

/*******************************************
                MIXINS
*******************************************/

//media query mixins
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin mq-tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mq-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mq-large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

//positional mixins
@mixin absolute-center($top:auto, $left:auto) {
    position:absolute;
    top:$top;
    left:$left;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

/*******************************************
                LAYOUT
*******************************************/
::selection {
    background-color: $colorMain;
    color: white;
}
::-moz-selection {
    background-color: $colorMain;
    color: white;
}

html, body {
	font-family: 'Lato', Arial;
	font-size: 16px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

input, textarea {
	outline: 0 !important;
}

h1, h2, h3 {
	font-weight: 300;
	margin: 1rem 0;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: 180%;
	&:after {
		background-color: $colorMain;
		content: " ";
		display: block;
		margin: 1rem auto 0 auto;
		width: 10rem;
		height: 2px;
	}
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 120%;
}
a:link, a:active, a:visited {
	color: $colorMain;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	transition: all 0.25s;
	&:hover {
		color: $colorMainDark;
		border-bottom: 1px solid $colorMainDark;
	}
}
/*******************************************
                REUSABLE
*******************************************/
.absolute-center {
	@include absolute-center(50%, 50%);
}
.main-color {
	color: $colorMain !important;
}
.red {
    color: red;
}
.bg-lightgray {
	background-color: $colorLightGray;
}
.code-snippet {
	padding: 1rem;
}
.header-p {
	text-align: center;
	padding: 1rem 6rem;
}
.dark-container {
	background-color: $colorBlack;
	color: white;
}
/*******************************************
                COMPONENTS
*******************************************/
.navbar-custom, .dropdown-menu {
	background-color: $colorBlack;
	box-shadow: 0 2px 4px rgba(0,0,0,0.75);
	margin-bottom: 0 !important;
	min-height: 1rem !important;

	a {
		border: none !important;
	}

	.navbar-brand {
		color: white !important;
		text-transform: uppercase;
	}

	.navbar-header {
		margin-bottom: 0 !important;
	}

	.nav-logo {
		margin-top: -0.3rem;
		height: 2rem;
		width: auto;
	}

	ul {
		border: none;
		margin-top: 0;

		li.active a {
			background-color: #080808 !important;
			color: $colorMain !important;
		}

		a:link, a:visited {
			color: white !important;
			font-weight: 400;
			padding-bottom: 16px;
			text-transform: uppercase;
			transition: color 0.25s;
		}
		a:hover, a:active {
			color: $colorMain !important;
		}
	}
}
.dropdown-menu {
	margin-top: 0.1rem !important;
	padding: 0 !important;

	a:link, a:hover, a:active, a:focus, a:visited {
		padding-top: 0.75rem !important;
		background-color: $colorBlack !important;
	}
}

.filtr-button {
	background-color: $colorMain;
	border: none;
	border-radius: 0.25rem;
	color: white;
	font-weight: 400;
	padding: 0.75rem 1.5rem;
	text-transform: uppercase;
	transition: background-color 0.25s;

	&:hover {
		background-color: $colorMainDark;
	}
}
/*******************************************
                SHOWCASE
*******************************************/
#extra-margin { margin-top: 2.5rem; }
.showcase {
	margin-top: 1rem;

	a:link, a:visited, a:hover, a:active {
		color: white !important;
		display: block;
		text-decoration: none;
		margin: 0 auto 1rem auto;
		position: relative;
		width: 11.75rem;

		@include mq-tablet {
			display: inline-block;
			margin-left: 1.25rem;
		}
		.link-text {
			padding-left: 1.5rem;
		}
		.icon {
			font-size: 180%;
			position: absolute;
			top: 0.2rem;
			left: 0.6rem;
		}
		.download-icon {
			padding-left: 0.35rem;
		}
	}

	.customize-row {
		margin-bottom: 1rem;
		padding: 0 1rem;

		.filtr-button {
			@include mq-tablet {
				margin-top: 0.5rem;
			}
		}

		p {
			text-align: center;
			padding: 1rem 2.5rem;
		}
	}

	.galstyles {
		background-color: $colorBlack;
		border: none;
		border-radius: 0.25rem;
		color: white;
		font-size: 90%;
		height: 100%;
		width: 100% !important;
		padding: 1rem;
	}

	.alert {
		@include transform(translateY(-3.5rem));
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
		position: absolute;
		z-index: 2;

		.alert-arrow {
			@include transform(rotate(45deg));
			border-right: none;
			border-bottom: none;
			box-shadow: none;
			height: 1rem;
			width: 1rem;
			padding: 0;
			position: absolute;
			top: -0.5rem;
			left: 1.5rem;
			z-index: 1;
		}
	}

	#warnmsg, #errormsg, #successmsg {
		display: none;
	}
	#warnmsg {
		@include mq-desktop {
			@include transform(translate(-11.5rem, -3.5rem));
			.alert-arrow {
				left: auto;
				right: 1.5rem;
			}
		}
	}

	.npm-p {
		text-align: left !important;
	}
}

.select-order {
	border-radius: 0.25rem;
	outline: 0;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	transition: border 0.25s;
	width: 100%;
	&:focus {
		border: 1px solid $colorMain;
	}
	@include mq-tablet {
		margin-left: 0.5rem;
		padding: 0.73rem 1rem;
		width: auto;
	}
}

.filtr-search {
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    padding: 0.7rem;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    @include mq-tablet {
        margin-top: 0;
        margin-left: 0.5rem;
        width: auto;
    }
}

.nav-gallery {
	margin-bottom: 0.5rem;
	padding: 1rem;

	@include mq-tablet {
		display: inline-block;
		margin-left: 1rem;
		padding: 0;
	}

	li:first-of-type {
		border-top-left-radius: 0.25rem !important;
		border-top-right-radius: 0.25rem !important;
		@include mq-tablet {
			border-top-right-radius: 0 !important;
			border-bottom-left-radius: 0.25rem !important;
		}
	}
	li {
		border-radius: 0 !important;
		border-bottom: 1px solid $colorMainDark;
		cursor: pointer !important;
		@include mq-tablet {
			border-bottom: none;
			border-right: 1px solid $colorMainDark;
			display: inline-block;
		}
	}
	li:last-of-type {
		border-bottom-left-radius: 0.25rem !important;
		border-bottom-right-radius: 0.25rem !important;
		border-bottom: none;
		@include mq-tablet {
			border-right: none;
			border-bottom-left-radius: 0 !important;
			border-top-right-radius: 0.25rem !important;
			border-bottom-right-radius: 0.25rem !important;
		}
	}
	.filtr-active {
		background-color: $colorMainDark;
		box-shadow: inset 0 0 5px rgba(26, 29, 25, 0.35);
	}
}

.filtr-shuffle {
	background-color: #f2ca27 !important;
	outline: 0;
	margin-bottom: 1.5rem;
	text-align: left;
	width: 100%;
	@include mq-tablet {
		margin-bottom: 0;
		text-align: center;
		width: auto;
	}
	&:hover {
		background-color: #d9b10d !important;
	}
	&:active {
		box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	}
}

.filtr-multi {
	background-color: #3c7be7 !important;
	border-color: #2b63c1 !important;
	&:hover {
		background-color: #2b63c1 !important;
	}
}
.filtr-multi.filtr-active {
    background-color: #2b63c1 !important;
}
.filtr-sort.filtr-active {
	background-color: #c0392b !important;
}

.filtr-sort {
	background-color: #e74c3c !important;
	border-color: #c0392b !important;
	&:hover {
		background-color: #c0392b !important;
	}
}
.filtr-sort.filtr-active {
	background-color: #c0392b !important;
}

.sorting {
	padding: 0;
}

.filtr-container {
	@include mq-large-desktop {
		transition: height 0.5s ease-out;
	}
}

.filtr-item {
	padding: 16px;
	img {
		border-radius: 5px;
		@include filter(grayscale(70%));
	}
}

.item-desc {
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	left: 1rem;
	right: 1rem;
	bottom: 1rem;
	color: white;
	font-weight: 300;
	display: block;
	padding: 8px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
}
.item-position {
	@extend .item-desc;
	left: 1rem;
	top: 1rem;
	padding: 0.75rem 1.25rem;
	right: auto;
	bottom: auto;
}
.filtr-item:hover img {
	@include filter(grayscale(0));
}

/*******************************************
            FILTERIZR IN ACTION
*******************************************/
.filterizr-in-action {
    margin: 2rem 0;

    p {
        margin-bottom: 2rem;
    }

    .new-row {
      @media only screen and (min-width: 768px) {
        margin-top: 20px;
      }
    }

    .in-use-item-wrapper {
        padding: 0;
    }

    .in-use-item {
        text-align: center;
        position: relative;
    }

    .in-use-desc {
        background-color: rgba(0,0,0,.75);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        padding: .25rem;
        @include transform(scaleY(0));
        @include transform-origin(center top);
        transition: all .25s ease-out;
    }

    a:hover .in-use-desc {
        opacity: 1;
        @include transform(scaleY(1));
    }

    a {
        border-color: transparent !important;
        margin: 0 !important;
    }

    img {
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
    }
}

/*******************************************
                SORTING TUT
*******************************************/
#sorting {
    .filtr-item {
        font-size: 80%;
        @include mq-tablet {
            font-size: 120%;
        }
    }
    .select-order {
        margin-bottom: 1rem;
    }
}

/*******************************************
                SEARHCHING TUT
*******************************************/
#searching {
    margin-bottom: 3.5rem;
}
/*******************************************
                INSTALL
*******************************************/
.install {
	margin-top: 1rem;
	padding-bottom: 1rem;

	p {
		padding: 0;
		text-align: center;
	}

	pre {
		height: 15rem;
	}
}

/*******************************************
            Layouts and Delaymodes
*******************************************/
.section-desc {
	padding: 0 3rem;
	margin-bottom: 2rem;
}
.first-layout-row {
	margin-top: 0;
	margin-bottom: 2.5rem;
}
.layout-row {
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.layout-col {
	margin-top: 1rem;
	text-align: center;
}

.layout-padding-wrapper {
	background-color: $colorBlack;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.layout-pane {
	background-color: $colorBlack;
	border-radius: 0.25rem;
	padding-top: 2rem;
	width: 100%;

	.filtr-item {
		color: white;
		font-size: 130%;
		text-align: center;
		width: 16.65%;
		height: 64px;
		padding: 0.1rem;
	}
	.item-number {
		border: 2px solid $colorBlack;
		height: 100%;
		padding-top: 0.6rem;
	}
	.filtr-item:nth-child(even) {
		.item-number {
			background-color: $colorMain;
		}
	}
	.filtr-item:nth-child(odd) {
		.item-number {
			background-color: $colorOrange;
		}
	}
}

.packed {
	.filtr-item:nth-child(3), .filtr-item:nth-child(5), .filtr-item:nth-child(9), .filtr-item:nth-child(11), .filtr-item:nth-child(2) {
		width: 33.3%;
	}
	.filtr-item:nth-child(1), .filtr-item:nth-child(8), .filtr-item:nth-child(16) {
		height: 128px;
	}
	.filtr-item:nth-child(19), .filtr-item:nth-child(7) {
		width: 66.6%;
	}
}

.sameHeight {
	.filtr-item:nth-child(3), .filtr-item:nth-child(5), .filtr-item:nth-child(9), .filtr-item:nth-child(11), .filtr-item:nth-child(2) {
		width: 33.3%;
	}
}

.sameWidth {
	.filtr-item:nth-child(3), .filtr-item:nth-child(5), .filtr-item:nth-child(9), .filtr-item:nth-child(10), .filtr-item:nth-child(2) {
		height: 128px;
	}
}

.horizontalLayout {
	height: 90px !important;
	overflow-x: scroll;
}

//filtering tutorial section
.filteringModeSingle, .filteringModeMulti {
    .green > .item-number {
        background-color: $colorMain !important;
    }
    .orange > .item-number {
        background-color: $colorOrange !important;
    }
    .purple > .item-number {
        background-color: purple !important;
    }
}

/*******************************************
                DOCS
*******************************************/
.docs {
	margin-top: 1rem;
	padding-bottom: 1rem;

	.docs-container {

		h3 {
			margin-bottom: 0.5rem;
			text-align: left !important;
			padding-left: 2rem;
		}

		.api-list {
		    padding: 0 3rem;
		    list-style: none;
			li {
				cursor: pointer;
				display: block;
				padding: 0.25rem;
				transition: color 0.25s;
			}
			li:hover {
				color: $colorMain;
			}
			li.active {
				color: $colorMain;
			}
			li:before {
			    content: "";
			    border-color: transparent $colorMain;
			    border-style: solid;
			    border-width: 0.35em 0 0.35em 0.45em;
			    display: block;
			    height: 0;
			    width: 0;
			    left: -1em;
			    top: 1.1em;
			    position: relative;
			}
		}

		.doc-window {
			background-color: $colorLightGray;
			border-radius: 0.5rem;
			padding: 0 3rem;

			h3 {
				padding-left: 0;
			}
			.method-link {
				cursor: pointer;
				color: $colorMainDark;
				border-bottom: 1px solid transparent;
				text-decoration: none;
				transition: border-bottom 0.25s;
				&:hover {
					border-bottom: 1px solid $colorMainDark;
				}
			}
		}
	}
}

/*******************************************
                FAQ
*******************************************/
.faq {
	margin-top: 1rem;
	padding-bottom: 1rem;

	h2, h3 {
		text-align: left;
	}
    h2, .list-row {
        padding-left: 1rem;
    }
	h3 {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	section:first-of-type {
		margin-top: 0;
	}
	section {
		margin-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
	}
	ol {
		padding-left: 1rem;
	}
}

/*******************************************
                CONTACT
*******************************************/
.contact {
	padding: 3rem 1rem;
	text-align: center;

    form .row {
        margin: 1rem;
    }

    input, textarea {
        background-color: $colorLightBlack;
        border: 1px solid $colorDarkBlack;
		border-radius: 0.2rem;
        color: white;
        text-transform: uppercase;
        transition: all 0.25s;
        padding: 0.75rem;
        width: 90%;

        @include mq-tablet {
            width: 60%;
        }
    }

    input:focus, textarea:focus {
        border: 1px solid $colorMain;
    }

    textarea {
        resize: none;
    }

	.filtr-button:focus {
		outline: 0;
		box-shadow: inset 0 0 5px rgba(0,0,0,0.9);
	}

    #form-msg {
        height: 8rem;
    }

	a:link, a:active, a:visited {
		color: #68e49c !important;
		&:hover {
			color: $colorMain !important;
			border-bottom: 1px solid $colorMain !important;
		}
	}
}

/*******************************************
                FOOTER
*******************************************/
.footer-main {
    color: $colorMainDark;
    font-size: 85%;
    letter-spacing: 0.075rem;
    padding: 0.25rem 0;
    text-align: center;
}
