.ShowcasePage {
  .Filterizr__filter-controls,
  .Filterizr__secondary-controls,
  .Filterizr__shuffle-controls,
  .Filterizr__search-control {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 30px 0 20px;
  }

  .Filterizr__secondary-controls {
    justify-content: space-between;
  }

  .Filterizr__sort-controls {
    display: flex;

    .form {
      margin-left: 15px;
    }
  }

  .Filterizr__secondary-controls,
  .Filterizr__search-control {
    margin-top: 15px;
  }

  .filtr-container {
    margin: 0 auto;
    max-width: 900px;
    transition: height 1000ms ease-out;
    overflow-y: hidden;

    .filtr-item {
      display: inline-block;
      width: 50%;
      padding: 20px;
      position: relative;

      @media only screen and (min-width: 992px) {
        width: 33%;
      }

      .item-index,
      .item-desc {
        position: absolute;
        color: white;
        text-transform: uppercase;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        z-index: 1;
      }

      .item-index {
        top: 25px;
        left: 25px;
      }

      .item-desc {
        bottom: 25px;
        left: 25px;
      }
    }
  }

  &__playground-wrapper {
    display: flex;
    margin-bottom: 13px;
    height: 280px;

    & > div {
      width: 100%;

      .jsoneditor-tree-inner {
        padding-top: 10px;
        padding-bottom: 50px !important;
      }
    }
  }
}
