.Navigation {
  border-radius: 0 !important;
  margin-bottom: 2em !important;

  &__navbar {
    margin: 0 auto !important;
    max-width: 1200px;
  }

  &__logo {
    width: 120px;
    height: 32px;
  }
}
