.SortingTutorialPage {
  .Filterizr__sort-controls {
    display: flex;

    .two.buttons {
      max-width: 190px;
    }

    .form {
      margin-left: 15px;
    }
  }

  .sortable-grid {
    background-color: #272721;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    z-index: 0;

    .filtr-item {
      display: flex;
      padding: 10px;
      height: 84px;
      width: 16.66%;

      .black-letter {
        color: black;
      }

      .blue-letter {
        color: rgb(44, 108, 204);
      }
    }
  }
}
