body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1230px;
}

.hljs-inline {
  pre {
    font-size: 12px;
  }

  pre,
  .hljs {
    border-radius: 3px;
    display: inline !important;
    padding: 3px;
  }
}
